<!DOCTYPE html>
<html>
	<head>
		<title>security services home page</title>
		<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="public/css/style.css">
	</head>
		<body>
			<div class="main_bg">
			<div class="overlay">
				<header>			
				<div class="navbar navbar-inverse navbar-static-top custom_bg">
				<div class="container">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navHeaderCollapse">
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Security site</a>
					<div class="collapse navbar-collapse navHeaderCollapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#">HOME</a></li>
							<li><a href="#">MENU</a></li>
							<li><a href="#">MENU</a></li>
							<li><a href="#">LogIn</a></li>
						</ul>
					</div>
				</div>
				</div>
				</header>
				<div class="col-md-8"></div>
			  		<div class="col-md-4">
			  			<div class="align_1">
						<div class="align_2">
				        <p class="sizing_1 auto_size">Contrary to popular belief, Lorem Ipsum is not simply random textContrary to popular belief, Lorem Ipsum is not simply random textContrary to popular belief, Lorem Ipsum is not simply random text</p>
				        <button class="outning">BUTTON</button>
			        </div>
			    </div></div></div>
			</div>
			<div class="distance">
			<div class="container">
				<div class="col-md-8">
					<img src="public/images/pc1.png" class="imgg_size1">
				</div>
				<div class="col-md-4">
					<p class="sizing_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum hasbeen the industry's standard dummy text ever since the 1500s, when an unknown book.</p>
				</div>
			</div>
			</div>

				<img src="public/images/collect.png" class="imgg_size1 distance">
				<h3 class="text-center">Text Here</h3>
				<div class="distance">
				<div class="container">
				
					<div class="col-md-4">
						<p class="sizing_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum hasbeen the industry's standard dummy text ever since the 1500s, when an unknown bookLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum hasbeen the industry's standard dummy text ever since the 1500s, when an unknown book</p>
					</div>
					<div class="col-md-8">
						<img src="public/images/mobile1.png" class="imgg_size1">
					</div>
				</div>
			</div>
			<div class="distance bottom_bg">
			<div class="overlay_1">
				<div class="align_1">
				<div class="align_2">
				 <button class="outning">Contact Us</button>
				 </div>
				 </div>
			</div></div>
			<div class="distance">
				<h3 class="text-center">Text about chart</h3>
				<img src="public/images/bar-graph1.png" class="imgg_size1">
			</div>
			<footer class="distance bg_decoration">
			<div class="container">
			<div class="col-md-8">
				<p class="copyright_1">&copy copyright text</p>
			</div>
			<div class="col-md-4">
				<ul>
					<li class="set_icon"><img src="public/images/fb.png"></li>
					<li class="set_icon"><img src="public/images/instagram.png"></li>
					<li class="set_icon"><img src="public/images/twitter.png"></li>
				</ul>
			</div>
			</div>
			</footer>
		</body>
</html>